@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
}

/* Body */

body {
	background-color: #E496A4;
}

h2 {
	color: #FFFFFF;
	font-weight: bold;
}

h3 {
	color: #FFFFFF;
	font-weight: bold;
	font-style: italic;
}

p {
	font-family: 'PT Sans', sans-serif;
}

h3 + p {
	color: #FFFFFF;
}
.container {
	margin-top: 60px;
	margin-bottom: 60px;
	background-color: #938282;
	padding: 10px;
}

.reservation {
	margin-top: 40px;
}

.btn-lg {
	background-color: #E496A4;
}

.menu {
	height: 175px;
	
}


/* header and footer */

header {
	text-align: center;
}

.jumbotron {
	background-color: #615E5E;
	color: #FFFFFF;
} 

.my-4 {
	border: 0;
}

#banner {
    background-image: url("../images/restaurant.jpg");
    background-size: cover;
    background-position: center center;
	color: #FFFFFF;
}

 #page-end{
    background-image: url("../images/restaurant.jpg");
    background-size: cover;
    background-position: center bottom;
}



